body{
	margin: 0px;
	padding: 0px;
}

.anaranjado{
   position:static;
   background-color:blue;
   width: 200px;
   height: 200px;
}
.morado{
	position:relative;
	background-color:green;
	width: 100px;
	height: 100px;
	left: 50px;
	top: 50px;
}
.amarillo{
	position:absolute;
	background-color: black;
	width:50px;
	height: 50px;
	left: 0px;
	top: 0px;
}